@import 'tailwindcss';

@import './assets/fonts/Poppins.css';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  --breakpoint-7xl: 1280px;

  --font-primary: 'Poppins', sans-serif;

  --text-base: 15px;

  --color-primary: #5a50e5;
  --color-secondary: #a6f3ed;

  --color-primary-bg: #ffffff;
  --color-secondary-bg: #f8f9fa;
  --color-primary-text: #000000;
  --color-secondary-text: #616262;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply font-primary text-base outline-none;
  }

  html,
  body {
    @apply text-secondary-text scroll-smooth;
  }

  button,
  select {
    @apply cursor-pointer;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply text-primary-text font-semibold;
  }

  input,
  textarea {
    @apply placeholder:font-light;
  }
}

@layer components {
  .wrapper {
    @apply 7xl:px-0 mx-auto max-w-7xl px-2;
  }
}

.swiper-pagination-bullet {
  @apply h-2.5 w-2.5 rounded-full bg-gray-400 opacity-50 transition-all duration-300;
}

.swiper-pagination-bullet-active {
  @apply bg-primary w-6 rounded-md opacity-100;
}

.swiper-pagination {
  @apply relative bottom-0 mt-6;
}
